<!DOCTYPE html>
<html>
  <head>
    <title>Clients management</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <h1>Client Search</h1>
    <form action="/search" method="post">
      <label for="nom">Nom:</label>
      <input type="text" id="nom" name="nom" required /><br />

      <label for="prenom">Prénom:</label>
      <input type="text" id="prenom" name="prenom" required /><br />

      <input type="submit" value="Rechercher" />
    </form>
    <h1>List of Clients</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Date of Birth</th>
        <th>Address</th>
        <th>Postal Code</th>
        <th>City</th>
      </tr>
      {{ range .clients }}
      <tr>
        <td>{{ .ID }}</td><td>{{ .Nom }}</td><td>{{ .Prenom }}</td><td>{{ .DateNaissance }}</td><td>{{ .Adresse }}</td><td>{{ .CodePostal }}</td><td>{{ .Ville }}</td><td><a href="/delete/{{ .ID }}">Delete</a></td>
      </tr>
      {{ end }}
    </table>

    <div class="button-container">
      <a href="/add">Add a new client</a>
  </div>
  </body>
</html>
