<!DOCTYPE html>
<html>
<head>
    <title>Client Details</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <h1>Client Details</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Date de Naissance</th>
            <th>Adresse</th>
            <th>Code Postal</th>
            <th>Ville</th>
        </tr>
        <tr>
            <td>{{.client.ID}}</td>
            <td>{{.client.Nom}}</td>
            <td>{{.client.Prenom}}</td>
            <td>{{.client.DateNaissance}}</td>
            <td>{{.client.Adresse}}</td>
            <td>{{.client.CodePostal}}</td>
            <td>{{.client.Ville}}</td>
        </tr>
    </table>
</body>
</html>
